.main_location_pic{
    width: 100%;
    background-image: url("../images/chicken_meal.jpg");
    background-position: center;/* Do not repeat the image */
    background-size:cover;/* Resize the background image to cover the entire container */
}
.avatar_profile{
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    margin: auto;
    z-index: 10;
    background-image: url("../images/profile_cooking_mama.png");
    background-position: center;/* Do not repeat the image */
    background-size: cover;/* Resize the background image to cover the entire container */

}


body{
    width: 100%;
}

.profile_name{
    display: inline;
}


.btn{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.btn_ico{
    font-size: 25pt;
}


.margin_bootom_medium *{
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.5em;

}

.margin_bootom_big {
    padding-bottom: 5.5em;
}

.margin_centered *{
    padding-left: 0.2em;
    padding-right: 0.2em;
}


#EventDescriptionInput{
    width: 100%;
}
#EventNameInput{
    width: 100%; 
}

#EventGuestsInput, #EventPriceInput{
    text-align: right;
}
h2{
    color: #342628;
}

.tags{
    padding-left: 1em;
}

.back_arrow{
    margin-top: .8em;;
}

article {
    position: relative; 
    line-height: 1.5;
    }

nav {
    position: fixed;
    bottom: auto;
}

.previous {
    background-color: #f1f1f1;
    color: black;
  }

  .round {
    border-radius: 50%;
  }

  ul{
    list-style-position: inside;
  }