.main_location_pic{
    width: 100%;
    background-image: url("../images/app_cooking_mama.jpg");
    background-position: center;/* Do not repeat the image */
    background-size: cover;/* Resize the background image to cover the entire container */
}
.avatar_profile{
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    margin: auto;
    z-index: 10;
    background-image: url("../images/profile_cooking_mama.png");
    background-position: center;/* Do not repeat the image */
    background-size: cover;/* Resize the background image to cover the entire container */

}